@{
    ViewBag.Title = "Eventübersicht";
}

<div class="menu-container">
    <h1 class="main-title">EVENTÜBERSICHT</h1>
    <h2 class="login-register-title"><a href="/login">LOGIN</a></h2>
</div>
<div class="content">
    <div class="event-listing">
        <img class="arrow-down" src="../../assets/arrow-down.png" alt="Arrow" />
        <div class="listing">
            <h3><a href="/Eventinfo/eventinfo">Chlausturnier Flawil</a></h3>
            <h3>Termin 1</h3>
            <h3>Termin 1</h3>
            <h3>Termin 1</h3>
            <h3>Termin 1</h3>
        </div>
    </div>
    <div class="map">
        <h2>map</h2>
    </div>
</div>