@{
    ViewBag.Title = "Eventübersicht";
}

<div class="menu-container">
    <h1 class="main-title">EVENTÜBERSICHT</h1>
    <h2 class="login-register-title"><a href="/Login/login">LOGIN</a></h2>
</div>
<div class="content">
    <div class="event-listing">
        <img class="arrow-down" src="../../assets/arrow-down.png" alt="Arrow" />
        <div class="listing">
            <div class="listing-box">
                <h3 class="listing-text"><a href="/Eventinfo/eventinfo">Chlausturnier Flawil</a></h3>
                <div class="listing-line"></div>
            </div>
            <div class="listing-box">
                <h3 class="listing-text"><a href="/Eventinfo/eventinfo">Chlausturnier Flawil</a></h3>
                <div class="listing-line"></div>
            </div>
            <div class="listing-box">
                <h3 class="listing-text"><a href="/Eventinfo/eventinfo">Chlausturnier Flawil</a></h3>
                <div class="listing-line"></div>
            </div>
            <div class="listing-box">
                <h3 class="listing-text"><a href="/Eventinfo/eventinfo">Chlausturnier Flawil</a></h3>
                <div class="listing-line"></div>
            </div>
        </div>
    </div>
    <div class="map">
        <h2>map</h2>
    </div>
</div>