@{
    ViewBag.Title = "Login";
}


<div class="menu-container">
    <a href="/Eventübersicht/eventübersicht"><img src="../../assets/arrow-left.png" alt="arrow left" class="arrow-left" /></a>
</div>
<div class="content">
    <form class="form" method="POST">
        <input class="login-input" type="text" name="username" value="" placeholder="USERNAME" />
        <input class="login-input" type="password" name="password" value="" placeholder="PASSWORD" />
        <input type="submit" class="login-button">
    </form>
</div>



