@{
    ViewBag.Title = "Login";
    App.mainTitle = "LOGIN";
    App.arrowBackRoute = "/Eventübersicht/eventübersicht";
}
<div class="content">
    <form action="/Login/login" class="form" method="POST">
        <input class="login-input" type="text" name="username" value="" placeholder="USERNAME" />
        <input class="login-input" type="password" name="password" value="" placeholder="PASSWORD" />
        <input type="submit" class="login-button">
    </form>
</div>



