@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Transport-APP</h2>
<div class="form">
    <input class="login-input" type="text" name="username" value="" placeholder="USERNAME" />
    <input class="login-input" type="text" name="password" value="" placeholder="PASSWORD" />
</div>
<button type="submit" id="login-button">Anmelden</button>