@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import "login.css";
@import "autoübersicht.css";
@import "autoanmelden.css";
@import "eventübersicht.css";
@import "eventinfo.css";
@import "menu.css";

:root {
    --main-title-color: #341FFF;
    --main-login-logout-color: #341FFF;
    --main-text-color: #232368;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: #FDFDFD;
    color: #232368;
}
a {
    text-decoration: none;
}
a:visited {
    color: #341FFF
}
h3 > a:visited {
    color: #232368;
}
button > a:visited {
    color: white;
}
button > a {
    color: white;
}
h1 {
    font-size: 80px;
    margin-top: 0;
    margin-left: 10px;
    color: #341FFF;
}

h2 {
    font-size: 60px;
    color: #341FFF;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 20px;
}
h3 {
    font-size: 50px;
    color: #232368;
    margin-top: 0;
    margin-bottom: 0;
}
h3 + h3 {
    margin-top: 20px;
}
.content {
    height: 81.5vh;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
}
.menu-container {
    height: auto;
    display: flex;
    flex-direction: row;
}
.arrow-down {
    height: 100%;
}
.event-title {
    transform-origin: top left;
    transform: translateY(420px) rotate(-90deg);
    font-size: 35px;
    width: 500px;
    right: 200px;
}
.event-button {
    height: 60px;
    width: 100%;
    background-color: #341FFF;
    color: white;
    font-size: 50px;
    font-family: "Nunito Sans", sans-serif;
    border: none;
    border-radius: 10px;
    height: 65px;
}
.side-title {
    width: 1%;
}
.activeCar {
    margin-left: 40px;
    transition-duration: 1s;
}