@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: #FDFDFD;
    color: #232368;
}
h1 {
    font-size: 80px;
    margin: 0;
    color: #341FFF;
}

h2 {
    font-size: 60px;
    margin: 0;
    color: #341FFF;
    margin-right: 0;
    margin-left: auto;
}
.menu-container {
    display: flex;
    flex-direction: row;
}