@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');
@import "app/login.css";
@import "app/autoübersicht.css";
@import "app/autoanmelden.css";
@import "app/eventübersicht.css";
@import "app/eventinfo.css";
@import "app/menu.css";
@import "app/eventregistration.css";

:root {
    --main-title-color: #341FFF;
    --main-login-logout-color: #341FFF;
    --main-text-color: #232368;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Nunito:400", sans-serif;
    background-color: #FDFDFD;
    color: #232368;
}
a {
    text-decoration: none;
}
a:visited {
    color: #341FFF
}
h3 > a:visited {
    color: #232368;
}
button > a:visited {
    color: white;
}
button > a {
    color: white;
}
h1 {
    font-size: 80px;
    margin-top: 0;
    font-family: "Nunito:900", sans-serif;
    margin-left: 10px;
    color: #341FFF;
}

h2 {
    font-size: 60px;
    color: #341FFF;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 20px;
}
h3 {
    font-size: 55px;
    color: #232368;
    margin-top: 0;
    margin-bottom: 0;
}
h3 + h3 {
    margin-top: 20px;
}
.content {
    height: 81vh;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
}

.add-car-input {
    font-size: 55px;
}

.arrow-down {
    height: 100%;
}
.event-title {
    transform-origin: top left;
    transform: translateY(420px) rotate(-90deg);
    font-size: 100px;
    margin-top: 670px;
    width: 500px;
    right: 200px;
}
.event-button {
    height: 7vh !important;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 100%;
    background-color: #341FFF;
    color: white;
    font-size: 50px;
    font-family: "Nunito Sans", sans-serif;
    border: none;
    border-radius: 10px;
    height: 65px;
}
.side-title {
    width: 1%;
}
.activeCar {
    margin-left: 40px;
    transition-duration: 1s;
}
.add-event-input {
    font-size: 55px;
}