@{
    ViewBag.Title = "Autoübersicht";
    App.mainTitle = "AUTO MANAGEMENT";
    App.arrowBackRoute = "/Eventinfo/eventinfo";
}
<div class="content">
    <div class="side-title">
        <h2 class="event-title">@ViewBag.ClickedEvent.name</h2>
    </div>
    <div class="free-car-listing">
        <img class="arrow-down" src="../../assets/arrow-down.png" alt="Arrow" />
        <div class="listing">
            <div class="listing-car">
                <h3 class="car-listing">Sabrina Gerster</h3>
                <h3 class="car-listing">SCHULHAUS STEINEGG</h3>
                <h3 class="car-listing">15:00</h3>
                <h3 class="car-listing">7 FREIE PLÄTZE</a></h3>
                <div class="car-listing-line"></div>
            </div>
            <div class="listing-car">
                <h3 class="car-listing">Sabrina Gerster</h3>
                <h3 class="car-listing">SCHULHAUS STEINEGG</h3>
                <h3 class="car-listing">15:00</h3>
                <h3 class="car-listing">7 FREIE PLÄTZE</h3>
                <div class="car-listing-line"></div>
            </div>
            <div class="listing-car">
                <h3 class="car-listing">Sabrina Gerster</h3>
                <h3 class="car-listing">SCHULHAUS STEINEGG</h3>
                <h3 class="car-listing">15:00</h3>
                <h3 class="car-listing">7 FREIE PLÄTZE</h3>
                <div class="car-listing-line"></div>
            </div>
            <div class="listing-car">
                <h3 class="car-listing">Sabrina Gerster</h3>
                <h3 class="car-listing">SCHULHAUS STEINEGG</h3>
                <h3 class="car-listing">15:00</h3>
                <h3 class="car-listing">7 FREIE PLÄTZE</h3>
                <div class="car-listing-line"></div>
            </div>
            <div class="listing-car">
                <h3 class="car-listing">Sabrina Gerster</h3>
                <h3 class="car-listing">SCHULHAUS STEINEGG</h3>
                <h3 class="car-listing">15:00</h3>
                <h3 class="car-listing">7 FREIE PLÄTZE</h3>
                <div class="car-listing-line"></div>
            </div>
            <div class="listing-car">
                <h3 class="car-listing">Sabrina Gerster</h3>
                <h3 class="car-listing">SCHULHAUS STEINEGG</h3>
                <h3 class="car-listing">15:00</h3>
                <h3 class="car-listing">7 FREIE PLÄTZE</h3>
                <div class="car-listing-line"></div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="event-button"><a href="/Autoanmelden/autoanmelden">AUTO ANMELDEN</a></button>
        <button class="event-button reserve-car">ANMELDEN</button>
    </div>
</div>