@{
    ViewBag.Title = "Autoübersicht";
}

<div class="menu-container">
    <a href="/Eventinfo/eventinfo"><img src="../../assets/arrow-left.png" alt="arrow left" class="arrow-left" /></a>
    <h1 class="main-title">AUTO MANAGEMENT</h1>
    <h2 class="login-register-title"><a href="/Login/login">LOGIN</a></h2>
</div>
<div class="content">
    <div class="side-title">
        <h2 class="event-title">CHLAUSTURNIER FLAWIL</h2>
    </div>
    <div class="event-listing">
        <img class="arrow-down" src="../../assets/arrow-down.png" alt="Arrow" />
        <div class="listing">
            <div class="listing1">
                <h3 class="car-listing">Sabrina Gerster</h3>
                <h3 class="car-listing">SCHULHAUS STEINEGG</h3>
                <h3 class="car-listing">15:00</h3>
                <h3 class="car-listing"><a href="#">7 FREIE PLÄTZE</a></h3>
            </div>
            <h3>Termin 1</h3>
            <h3>Termin 1</h3>
            <h3>Termin 1</h3>
            <h3>Termin 1</h3>
        </div>
    </div>
    <div class="buttons">
        <button><a href="/Autoanmelden/autoanmelden">AUTO ANMELDEN</a></button>
        <button>ANMELDEN</button>
    </div>
</div>