@{
    ViewBag.Title = "Auto anmelden";
}

    <div class="menu-container">
         <a href="/Autoübersicht/autoübersicht"><img src="../../assets/arrow-left.png" alt="arrow left" class="arrow-left" /></a>
        <h1 class="main-title">AUTO REGISTRATION</h1>
        <h2 class="login-register-title"><a href="/login">LOGOUT</a></h2>
    </div>
    <div class="content">
        <div class="side-title">
            <h2 class="event-title">CHLAUSTURNIER FLAWIL</h2>
        </div>
        <div class="anmelden">
            <form class="anmelde-form" action="/" method="post">
                <div class="input-and-line">
                    <input type="text" name="name" value="FAHRERNAME" />
                    <div class="line"></div>
                </div>
                <div class="input-and-line">
                    <input type="text" name="name" value="TREFFPUNKT" />
                    <div class="line"></div>
                </div>
                <div class="input-and-line">
                    <input type="text" name="name" value="FREIE PLÄTZE" />
                    <div class="line"></div>
                </div>
                <div class="input-and-line">
                    <input type="text" name="name" value="ABFAHRTSZEIT" />
                    <div class="line"></div>
                </div>
            </form>
        </div>
        <div class="submit-button">
            <button>ANMELDEN</button>
        </div>
    </div>