@{
    ViewBag.Title = "Auto anmelden";
    App.mainTitle = "AUTO ANMELDEN";
    App.arrowBackRoute = "/Autoübersicht/autoübersicht";
}

<div class="content">
    <div class="side-title">
        <h2 class="event-title">CHLAUSTURNIER FLAWIL</h2>
    </div>
    <div class="anmelden">
        <form class="anmelde-form" action="/" method="post">
            <div class="input-and-line">
                <input class="add-car-input" type="text" name="name" placeholder="FAHRERNAME" />
                <div class="input-line"></div>
            </div>
            <div class="input-and-line">
                <input class="add-car-input" type="text" name="name" placeholder="TREFFPUNKT" />
                <div class="input-line"></div>
            </div>
            <div class="input-and-line">
                <input class="add-car-input" type="text" name="name" placeholder="FREIE PLÄTZE" />
                <div class="input-line"></div>
            </div>
            <div class="input-and-line">
                <input class="add-car-input" type="text" name="name" placeholder="ABFAHRTSZEIT" />
                <div class="input-line"></div>
            </div>
        </form>
    </div>
    <div class="submit-button">
        <button class="event-button">HINZUFÜGEN</button>
    </div>
</div>