@{
    ViewBag.Title = "Event Info";
}

    <div class="menu-container">
         <a href="/Eventübersicht/eventübersicht"><img src="../../assets/arrow-left.png" alt="arrow left" class="arrow-left" /></a>
        <h1 class="main-title">EVENT INFO</h1>
        <h2 class="login-register-title"><a href="/login">LOGOUT</a></h2>
    </div>
    <div class="content">
        <div class="side-title">
            <div class="side-title-with-line">
                <h2 class="event-title">CHLAUSTURNIER FLAWIL</h2>
            </div>
        </div>
        <div class="event-map">

        </div>
        <div class="event-information">
            <h3>19:00</h3>
            <h3>27.02.2033</h3>
            <h3>SENNRÜTI 16</h3>
            <h3 class="last-line">10 FREIE PLÄTZE</h3>
            <div class="event-information-line"></div>
            <button class="event-button go-further-button"><a href="/Autoübersicht/autoübersicht">WEITER</a></button>
        </div>
    </div>