@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <form action="/" class="login-form" method="POST">
        <input class="login-input" id="username" type="text" name="username" value="" placeholder="USERNAME" />
        <input class="login-input" id="vorname" type="text" name="vorname" value="" placeholder="VORNAME" />
        <input class="login-input" id="nachname" type="text" name="nachname" value="" placeholder="NACHNAME" />
        <input class="login-input" id="email" type="email" name="email" value="" placeholder="EMAIL" />
        <input class="login-input" id="password" type="password" name="password" value="" placeholder="PASSWORD" />
        <input type="submit" class="login-button">

    </form>
</div>

